<div class="body">
<div class="dashboard-container">
  <div class="logo-header">
    <i class="fas fa-user-shield fa-2x" style="color: #f08804;"></i>
    
  
    <h2>Welcome to Admin Dashboard</h2>
   
    <div class="button-group">
      <button routerLink="/adminload" (click)="adminload()">Load Users</button>
      <button routerLink="/adminblock" (click)="adminblock()">Block User</button>
      <button routerLink="/adminblock" (click)="adminUnblock()">UnBlock User</button>
      <button routerLink="/admindelete" (click)="admindelete()">Delete User</button>
       <button routerLink="/adminfilter" (click)="adminfilter()">Filter by Date</button> 
    </div>
  </div>
</div>
</div>