

 <!-- <div>
  <h2>Update Profile</h2>
 
  <label>Email:</label>
  <input type="email" [(ngModel)]="email" placeholder="Enter email"  />
 
  <label>Name:</label>
  <input type="text" [(ngModel)]="updatedProfileData.name" placeholder="Enter Name" />
 
  <label>Phone:</label>
  <input type="text" [(ngModel)]="updatedProfileData.phone" placeholder="Enter Phone" />
 
  <label>Address:</label>
  <input type="text" [(ngModel)]="updatedProfileData.address" placeholder="Enter Address" />
 
  <button (click)="updateProfile()">Update Profile</button>
 
  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</div>
 
   -->
<div class="profile-update-wrapper">
   <div class="profile-update-container">
    <h2 class="profile-update-title">Update Profile</h2>
   
    <div class="profile-update-form">
      <div class="form-group">
       
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" placeholder="Enter email" class="form-control" />
      </div>
   
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="updatedProfileData.name" placeholder="Enter Name" class="form-control" />
      </div>
   
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" [(ngModel)]="updatedProfileData.phone" placeholder="Enter Phone" class="form-control" />
      </div>
   
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" [(ngModel)]="updatedProfileData.address" placeholder="Enter Address" class="form-control" />
      </div>
   
      <button (click)="updateProfile()" class="update-button">Update Profile</button>
   
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
   
    </div>
  </div>
</div>