
<!-- <div class="body">
<div class="home-container">
    <div class="logo">
        <i class="fab fa-amazon"></i>
        <h1>Amazon</h1>
    </div>
 
    <p class="welcome-text">Your one-stop Destination</p>
 
    <div class="buttons">
        <button routerLink="/login" (click)="navigateToLogin()">
            <i class="fas fa-sign-in-alt"></i> Login
        </button>
        <button routerLink="/register" (click)="navigateToRegister()">
            <i class="fas fa-user-plus"></i> Sign Up
        </button>
        <div class="buttons">
            <button routerLink="/adminlogin" (click)="navigateToadminLogin()">
                <i class="fas fa-sign-in-alt"></i> Admin
            </button>
    </div>
</div>
</div> -->


<div class="home-container">
    <div class="card animate-fadeIn">
      <div class="logo">
        <i class="fab fa-amazon"></i>
        <h1>Amazon</h1>
      </div>
   
      <p class="tagline">Your one-stop Destination</p>
   
      <div class="buttons">
        <button class="btn" (click)="navigateToLogin()">
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
        <button class="btn" (click)="navigateToRegister()">
          <i class="fas fa-user-plus"></i> Sign Up
        </button>
        <button class="btn admin" (click)="navigateToAdminLogin()">
          <i class="fas fa-user-shield"></i> Admin
        </button>
      </div>
    </div>
  </div>
