<!-- <div class="body">
    <div class="admin-dashboard">
        <div class="dashboard-container">
<h3>Block A User</h3>
<input type="number" [(ngModel)]="id" placeholder="EnterUserIdto block" />
<Button (click)="blockUser()">Block</Button>
</div>
</div>
</div> -->

<div class="body">
<div class="block-user-container">
    <h3>Block A User</h3>
    <input type="number" [(ngModel)]="id" placeholder="Enter User ID to block" class="glass-input" />
    <button (click)="blockUser()" class="glass-button">Block</button>
  </div>
</div>