<div class="order-history-container">
  <h4>Order History</h4>
  <div class="email-section">
    <input class="email-input" placeholder="Enter your email" [(ngModel)]="email">
    <button class="get-order"(click)="fetchOrderHistory()">Get Orders</button>
  </div>
 
  <div *ngIf="orders && orders.length > 0" class="orders-list">
    <div *ngFor="let order of orders" class="order-card">
      <div class="order-header">

       <strong> Order #{{ order.id }}</strong>
        <span class="status">{{ order.status }}</span>
      </div>
      <p><strong>Amount:</strong> ₹{{ order.amount }}</p>
      <p><strong>Product:</strong> {{ order.productName }}</p>
      <p><strong>Description:</strong> {{ order.description }}</p>
      <p><strong>Created At:</strong> {{ order.createdAt | date: 'short' }}</p>
      <button (click)="reorder(order)" class="reorder-btn">Reorder</button>
    </div>
  </div>
 
  <div *ngIf="error" class="error-msg">
    <p>Error fetching orders: {{ error }}</p>
  </div>
</div>