 <div class="dashboard-container" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}">
  <div class="glass-effect"> <div class="header">
      <button (click)="toggleSidebar()" class="toggle-btn">
        <i class="fas fa-bars"></i>
      </button>
      <i class="fas fa-home home-icon" (click)="goHome()"></i>
 
      <div class="search-container">
        <input type="text" placeholder="Search for products..." [(ngModel)]="searchKeyword"/>
        <button (click)="onSearch()"><i class="fas fa-search"></i></button>
      </div>
      <div class="action-buttons">
        <button (click)="fetchProfile()">Profile</button>
        <button (click)="viewOrders()">Orders</button>
        <button (click)="goToCart()">Cart</button>
      </div>
    </div>
    <div class="body-section">
      <div class="sidebar" [class.closed]="isSidebarClosed">
        <button (click)="updateProfile()">
          <i class="fas fa-user"></i> Update Profile
        </button>
        <button (click)="fetchProfile()">
          <i class="fas fa-eye"></i> View Profile
        </button>
        <h3>Filters</h3>
        <div class="filters">
        <div class="price-filter">
          <label>Price Range:</label>
          <input type="number" placeholder="Min Price" #minPrice>
          <input type="number" placeholder="Max Price" #maxPrice>
          <button (click)="filterByPrice(+minPrice.value, +maxPrice.value)">Apply</button>
        </div> 
        <div class="rating-filter">
          <label>Minimum Rating:</label>
          <select (change)="onRatingChange($event)">
            <option value="">Select</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="4.5">4.5+</option>
            <option value="4.5">4.8+</option>
            <option value="4.5">5</option>
          </select>
        </div> 
      </div>
    </div>-
  
 <!--  <div class="product-grid">
    <ng-container *ngIf="products.length > 0; else noProducts">
    <div *ngFor="let product of products">
   <img [src] = "'/images/Products/' + product.imageUrl" [alt]="product.name" width="200" height="200">
      <h2>{{product.name}}</h2>
      <h2>Price: {{product.price}}</h2>
      <p *ngIf="product.stockQuantity > 0" class="in-stock">In Stock</p>
        <p *ngIf="product.stockQuantity === 0" class="out-of-stock">Out of Stock</p>
      <button (click)="viewDetails(product.name)">view Product</button>
        
    </div>
    </ng-container>
<ng-template #noProducts>
  <p>No Products Found</p>
</ng-template>
-->


  

  
  <div class="product-grid">
    <ng-container *ngIf="products.length > 0; else noProducts">
    <div *ngFor="let product of products">
   <img [src] = "'/images/Products/' + product.imageUrl" [alt]="product.name" width="200" height="200">
      <h2>{{product.name}}</h2>
      <h2>Price: {{product.price}}</h2>
      <p *ngIf="product.stockQuantity > 0" class="in-stock">In Stock</p>
        <p *ngIf="product.stockQuantity === 0" class="out-of-stock">Out of Stock</p>
      <button (click)="viewDetails(product.name)">view Product</button>
        
    </div>
    </ng-container>
<ng-template #noProducts>
  <p>No Products Found</p>
</ng-template>
   