
<div class="cart-container glass-card" >
    <h2 ><i class="fas fa-shopping-cart"></i>Your Cart</h2>
    <div *ngIf="cartItems.length === 0" class="empty-cart">
      <p>Your cart is empty.</p>
    </div>
    <div *ngFor="let item of cartItems" class="cart-item glass-card">
      <img [src]="'/images/Products/' + item.product.imageUrl" alt="{{item.product.name}}" class="product-image"/>
      <div class="item-details" >
        <h3>{{item.product.name}}</h3>
        <p>Price:{{item.product.price}}</p>
        <p>Quantity:{{item.quantity}}</p> 
        <p class="quantity-controls">
          Quantity:
          <button (click)="decreaseQuantity(item)">-</button>
          {{ item.quantity }}
          <button (click)="increaseQuantity(item)">+</button>
        </p>
        <button (click)="removeItem(item.id)"><i class="fas fa-trash"></i> Remove</button>
      </div>

      </div>
      
    <div class="cart-quantity">
     <button class="fas fa">Procced to checkOut</button>
    </div>
    <div class="cart-total">
      <h3><i class="fas fa-total"></i>Total Quanity:{{getQuantity()}}</h3>
      <h3><i class="fas fa-receipt"></i>Total: {{ getTotal() | currency : 'INR'}}</h3>
    </div> 

  


 
