
.dashboard-container {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(1px);
  padding: 20px;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(19, 25, 33, 0.9);
  padding: 10px 20px;
  border-radius: 8px;
}
 
.toggle-btn, .fa-home-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}
 
.brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
 
.search-container {
  flex: 1;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
 
.search-container input {
  width: 50%;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 10px;
  align-items: center;
}
 
.search-container button {
  background-color: #febd69;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}
 
.action-buttons {
  display: flex;
  gap: 10px;
}
 
.action-buttons button {
  background-color: #37475a;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.body-section {
  display: flex;
  margin-top: 20px;
}
.sidebar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  width: 200px;
  transition: all 0.3s;
}
 
.sidebar.closed {
  display: none;
}
 
.sidebar button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #232f3e;
  color: white;
  border: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.catagories-container {
  flex: 1;
  margin-left: 20px;
}
.catagories-container-search {
  flex: 1;
  margin-left: 20px;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px;
  margin-top: 30px;
}
.product-card {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 5px;
  
  text-align: center;
  transition: transform 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.products-search {
  display: flex;
  flex-wrap: wrap;
  color:#111;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
 
.products-details {
  width: 300px;
  background-color: #ffffffcc;
  border-radius: 10px;
  padding: 15px;
  color:#111;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
 
.products-details img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.category-link {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  font-size: 10px;
}
 